domoticz/plugwise2py-domoticz.nodered
[{"id":"7eff7bb2.810084","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":""},{"id":"242f10e5.dbd0f","type":"function","name":"Plugwise2 Energy to Domoticz","func":"//\n// Relay Plugwise MQTT energy message to Domoticz HTTP\n//\nnode.log (\"Relay Plugwise MQTT energy message to Domoticz HTTP\");\nvar sensor_url = context.global.plugwiseCfg.sensor_base_url;\nvar pwJSON = JSON.parse(msg.payload);\nvar state = context.global.plugwiseState[pwJSON.mac];\nvar pvalue = pwJSON.power;\nvar evalue = pwJSON.cum_energy;\nif (state)\n    if (state.state.production) {\n        pvalue = -pvalue;\n        evalue = -evalue;\n    }\n\n///json.htm?type=command&param=udevice&hid=$HID&did=$DID&dunit=$DUNIT&dtype=$DTYPE&dsubtype=$DSUBTYPE&nvalue=$NVALUE&svalue=$SVALUE\"\nmsg.url = sensor_url + \"did=E\"+pwJSON.mac.substr(9,7)+\"&dunit=1&dtype=243&dsubtype=29&nvalue=&svalue=\"+pvalue+\";\"+evalue;\nreturn msg;","outputs":"1","noerr":0,"x":497,"y":107,"z":"77aa3b96.8855c4","wires":[["4a7e97b1.b58168","a4aef440.5b5108"]]},{"id":"44f23689.bb0dc8","type":"function","name":"Plugwise2 Power to Domoticz","func":"//\n// Relay Plugwise MQTT power message to Domoticz HTTP\n//\nnode.log (\"Relay Plugwise MQTT power message to Domoticz HTTP\");\nvar sensor_url = context.global.plugwiseCfg.sensor_base_url;\nvar pwJSON = JSON.parse(msg.payload);\n\nvar state = context.global.plugwiseState[pwJSON.mac];\nvar value = pwJSON.power;\nif (state)\n    if (state.state.production)\n        value = -value;\n\n///json.htm?type=command&param=udevice&idx=$HID&did=$DID&dunit=$DUNIT&dtype=$DTYPE&dsubtype=$DSUBTYPE&nvalue=$NVALUE&svalue=$SVALUE\"\nmsg.url = sensor_url + \"did=F\"+pwJSON.mac.substr(9,7)+\"&dunit=1&dtype=248&dsubtype=1&nvalue=&svalue=\"+value+\";0\";\n\nreturn msg;","outputs":"1","noerr":0,"x":495,"y":173,"z":"77aa3b96.8855c4","wires":[["4a7e97b1.b58168","bc90e40a.436f18"]]},{"id":"4528a08f.bad76","type":"mqtt out","name":"MQTT publish","topic":"","qos":"","retain":"","broker":"7eff7bb2.810084","x":862,"y":327.75,"z":"77aa3b96.8855c4","wires":[]},{"id":"883b9d9b.77c46","type":"function","name":"Plugwise2 State to Domoticz","func":"//\n// Relay Plugwise MQTT state/circle message to Domoticz HTTP\n//\nnode.log (\"Relay Plugwise MQTT state/circle message to Domoticz HTTP\");\nvar switch_url = context.global.plugwiseCfg.switch_base_url;\nvar sensor_url = context.global.plugwiseCfg.sensor_base_url;\nvar pwJSON = JSON.parse(msg.payload);\nvar pwSwitch = 0;\nif (pwJSON.switch.toLowerCase() == \"on\")\n    pwSwitch = 1;\nvar pwSchedule = 0;\nif (pwJSON.schedule.toLowerCase() == \"on\")\n    pwSchedule = 1;\nvar info = \"\";\nif (pwJSON.schedname.length > 0)\n    info += \"schedule: \" + pwJSON.schedname;\nif (!pwJSON.online) {\n    if (info.length > 0)\n        info += \", \";\n    info += \"offline\";\n}\n\n///json.htm?type=command&param=udevice&idx=$HID&did=$DID&dunit=$DUNIT&dtype=$DTYPE&dsubtype=$DSUBTYPE&nvalue=$NVALUE&svalue=$SVALUE\"\nvar switch_msg = {};\nvar schedule_msg = {};\nvar status_msg = {};\nswitch_msg.url = switch_url + \"did=B\"+pwJSON.mac.substr(9,7)+\"&dunit=1&dtype=17&dsubtype=0&nvalue=\" + pwSwitch + \"&svalue=15\";\nschedule_msg.url = switch_url + \"did=C\"+pwJSON.mac.substr(9,7)+\"&dunit=1&dtype=17&dsubtype=0&nvalue=\" + pwSchedule + \"&svalue=15\";\nstatus_msg.url = sensor_url + \"did=A\"+pwJSON.mac.substr(9,7)+\"&dunit=1&dtype=243&dsubtype=19&nvalue=&svalue=\"+info;\n\n//discard state messages as reply to a domoticz switch command\nif (pwJSON.requid == context.global.plugwiseReqUID + 0)  {\n    context.global.plugwiseState[pwJSON.mac] = { ts: Date.now(), state: pwJSON, update: \"schedule\" };\n    return [null, schedule_msg, status_msg];\n}\nelse if (pwJSON.requid == context.global.plugwiseReqUID + 1) {\n    context.global.plugwiseState[pwJSON.mac] = { ts: Date.now(), state: pwJSON, update: \"switch\" };\n    return [switch_msg, null, status_msg];\n}\ncontext.global.plugwiseState[pwJSON.mac] = { ts: Date.now(), state: pwJSON, update: \"both\" };\n\n//return [msg, context.global.plugwiseState[pwJSON.mac]];\nreturn [switch_msg, schedule_msg, status_msg];\n\n\n\n","outputs":"3","noerr":0,"x":492,"y":238,"z":"77aa3b96.8855c4","wires":[["4a7e97b1.b58168","8b698c5b.74967"],["4a7e97b1.b58168","1b7f5a48.e480a6"],["4a7e97b1.b58168","30d088d.fcf2f78"]]},{"id":"bc90e40a.436f18","type":"debug","name":"msg.url","active":false,"console":"true","complete":"url","x":885,"y":142,"z":"77aa3b96.8855c4","wires":[]},{"id":"4a7e97b1.b58168","type":"http request","name":"Domoticz","method":"use","ret":"txt","url":"","x":733,"y":173,"z":"77aa3b96.8855c4","wires":[[]]},{"id":"b2b3cdc5.4d4c3","type":"inject","name":"run at startup","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":104,"y":41,"z":"77aa3b96.8855c4","wires":[["ded739de.2128c8"]]},{"id":"ded739de.2128c8","type":"function","name":"Initialise global context","func":"//edit the following variables to match your configuration:\ndomoticz_ip = \"127.0.0.1\";\ndomoticz_port = \"8080\";\nvirtual_hardware_id = 3;\nvirtual_switch_id = 3;\n//end config section\n\n//initialize plugwise-domoticz bridge global variables\nif (!context.global.plugwiseCfg) {\n  context.global.plugwiseCfg = {};\n}\nif (!context.global.plugwiseState) {\n  context.global.plugwiseState = [];\n}\nif (!context.global.plugwiseReqUID) {\n  context.global.plugwiseReqUID = Date.now().toString();\n}\n\ncontext.global.plugwiseCfg.sensor_base_url = \"http://\" + domoticz_ip + \":\" + domoticz_port + \"/json.htm?type=command&param=udevice&idx=\" + virtual_hardware_id +\"&\";\ncontext.global.plugwiseCfg.switch_base_url = \"http://\" + domoticz_ip + \":\" + domoticz_port + \"/json.htm?type=command&param=udevice&idx=\" + virtual_switch_id +\"&\";\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":41,"z":"77aa3b96.8855c4","wires":[[]]},{"id":"e0d70468.1f28f8","type":"mqtt in","name":"domoticz/out/#","topic":"domoticz/out/#","broker":"7eff7bb2.810084","x":81.5,"y":328,"z":"77aa3b96.8855c4","wires":[["2b9f2296.d460de"]]},{"id":"9d174f2e.62e8b","type":"switch","name":"Lighting_2","property":"dtype","rules":[{"t":"eq","v":"Lighting 2"}],"checkall":"true","outputs":1,"x":184.5,"y":427,"z":"77aa3b96.8855c4","wires":[["7bd5c5a.f842a3c"]]},{"id":"7bd5c5a.f842a3c","type":"switch","name":"AC","property":"stype","rules":[{"t":"eq","v":"AC"}],"checkall":"true","outputs":1,"x":331.5,"y":427,"z":"77aa3b96.8855c4","wires":[["44cfed0d.bb3014"]]},{"id":"2c6ead94.d39152","type":"debug","name":"mqtt topic","active":true,"console":"true","complete":"topic","x":850.5,"y":394,"z":"77aa3b96.8855c4","wires":[]},{"id":"2b9f2296.d460de","type":"function","name":"de-jsonify","func":"var payload = JSON.parse(msg.payload);\nreturn payload;","outputs":1,"noerr":0,"x":233,"y":328,"z":"77aa3b96.8855c4","wires":[["9d174f2e.62e8b"]]},{"id":"44cfed0d.bb3014","type":"switch","name":"svalue1=0","property":"svalue1","rules":[{"t":"eq","v":"0"}],"checkall":"true","outputs":1,"x":482,"y":427,"z":"77aa3b96.8855c4","wires":[["36f29dd7.c90d62"]]},{"id":"36f29dd7.c90d62","type":"function","name":"Domoticz switch/schedule to plugwise","func":"// Switch on and off the plugwise module\nnode.log (\"Relay Domoticz http:// requests to Plugwise2py MQTT\");\n\nvar pwmsg = {\"payload\": {}};\n//msg.payload.mac = \"000D6F000\"+msg.payload.mac;\n//strip leading 'B' (=breaker-switch) or 'C' (=clock-timer-schedule) and add prefix\nif (msg.id.length != 8)\n    return;\npwmsg.payload.mac = \"000D6F000\"+msg.id.substr(1);\nvar type;\nif (msg.id[0] == 'B') {\n    type = \"switch\";\n    pwmsg.payload.uid = context.global.plugwiseReqUID + 0;\n} else {\n    type = \"schedule\";\n    pwmsg.payload.uid = context.global.plugwiseReqUID + 1;\n}\npwmsg.payload.cmd = type;\nif (msg.nvalue === 0)\n    pwmsg.payload.val = \"off\";\nelse\n    pwmsg.payload.val = \"on\";\n\n\npwmsg.topic = \"plugwise2py/cmd/\" + type + \"/\" + pwmsg.payload.mac;\n\nreturn pwmsg;","outputs":"1","noerr":0,"x":521,"y":328,"z":"77aa3b96.8855c4","wires":[["2c6ead94.d39152","4528a08f.bad76","e108f1e3.1ef71"]]},{"id":"ea1c984d.15e368","type":"switch","name":"","property":"topic","rules":[{"t":"cont","v":"energy"},{"t":"cont","v":"power"},{"t":"cont","v":"circle"}],"checkall":"true","outputs":3,"x":268,"y":173,"z":"77aa3b96.8855c4","wires":[["242f10e5.dbd0f"],["44f23689.bb0dc8"],["883b9d9b.77c46"]]},{"id":"7a303d11.85cfc4","type":"mqtt in","name":"","topic":"plugwise2py/state/#","broker":"7eff7bb2.810084","x":99,"y":173,"z":"77aa3b96.8855c4","wires":[["ea1c984d.15e368"]]},{"id":"e108f1e3.1ef71","type":"debug","name":"mqtt payload","active":true,"console":"true","complete":"payload","x":861,"y":444,"z":"77aa3b96.8855c4","wires":[]},{"id":"30d088d.fcf2f78","type":"debug","name":"msg.url","active":false,"console":"true","complete":"url","x":885,"y":260,"z":"77aa3b96.8855c4","wires":[]},{"id":"1b7f5a48.e480a6","type":"debug","name":"msg.url","active":true,"console":"true","complete":"url","x":884,"y":221,"z":"77aa3b96.8855c4","wires":[]},{"id":"8b698c5b.74967","type":"debug","name":"msg.url","active":true,"console":"true","complete":"url","x":883,"y":182,"z":"77aa3b96.8855c4","wires":[]},{"id":"a4aef440.5b5108","type":"debug","name":"msg.url","active":false,"console":"true","complete":"url","x":885,"y":105,"z":"77aa3b96.8855c4","wires":[]}]
